@page
@using DEMOOutOfOfficeApp.Pages
@model AddEmployeeModel
@{
    ViewData["Title"] = "Add Employee";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<partial name="_EmployeeForm" model="@Model">
