@page
@model DEMOOutOfOfficeApp.Pages.AddLeaveRequestModel

@{
    ViewData["Title"] = "Add Leave Request";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<partial name="_LeaveRequestForm" model="@Model"></partial>

