@page
@model DEMOOutOfOfficeApp.Pages.EditLeaveRequestModel

@{
    ViewData["Title"] = "Edit Leave Request";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<partial name="_LeaveRequestForm" model="@Model"></partial>
