@page
@model DEMOOutOfOfficeApp.Pages.EditLeaveRequestsModel

@{
    ViewData["Title"] = "Edit Leave Request";
}

@* <div class="form-group">
    <label for="AbsenceReasonsbsenceReason">Absence Reason:</label>
    <select class="form-control" id="absenceReason" asp-for="LeaveRequest.AbsenceReasonID">
        @foreach (var reason in Model.AbsenceReasons)
        {
            <option value="@reason.ID">@reason.Name</option>
        }
    </select>
</div>

<div class="form-group">
    <label for="StartDate">Start Date:</label>
    <input type="date" class="form-control" id="startDate" asp-for="LeaveRequest.StartDate" />
</div>

<div class="form-group">
    <label for="EndDate">End Date:</label>
    <input type="date" class="form-control" id="endDate" asp-for="LeaveRequest.EndDate" />
</div>

<div class="form-group">
    <label for="Comment">Comment:</label>
    <textarea class="form-control" id="comment" asp-for="LeaveRequest.Comment"></textarea>
</div> *@

@* <input type="hidden" asp-for="Id" /> *@