@page
@model DEMOOutOfOfficeApp.Pages.EditLeaveRequestModel

@{
    ViewData["Title"] = "Edit Leave Request";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<partial name="_LeaveRequestForm" model="@Model"></partial>
<div class="form-group mt-3">
    <button type="submit" form="leaverequestform" class="btn btn-success">Save</button>
    <a asp-page="LeaveRequests" class="btn btn-secondary">Back</a>
</div>