@page
@model DEMOOutOfOfficeApp.Pages.OpenApprovalRequestModel
@{
	ViewData["Title"] = "Open Approval Request";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<partial name="_ApprovalRequestsForm" model="@Model">