@page
@model DEMOOutOfOfficeApp.Pages.OpenApprovalRequestModel
@{
	ViewData["Title"] = "Open Approval Request";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

<form method="post">


    <table class="table">
        <thead>
            <tr>
                <th>Approved by</th>
                <th>Leave Request ID</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" value="@Model.ApprovalRequest.ApproverName" class="form-control" readonly />
                </td>
                <td>
                    <input type="text" value="@Model.ApprovalRequest.LeaveRequestID" class="form-control" readonly />
                </td>
                <td>
                    <input type="text" value="@Model.ApprovalRequest.Status" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="ApprovalRequest.Comment" class="form-control" />
                </td>
                <td>
                    <input asp-for="AprovalRequestID" type="hidden" />
                    <button asp-page-handler="Approve" type="submit" class="btn btn-success" name="AprovalType" value="Approve">Approve</button>
                    <button asp-page-handler="Reject" type="submit" class="btn btn-warning" name="AprovalType" value="Reject">Reject</button>

                </td>
            </tr>
        </tbody>
    </table>
</form>


 

<a asp-page="/ApprovalRequests" class="btn btn-secondary">
    <button type="button" class="btn btn-secondary">Back</button>
</a>
